.imgSetting {
    width: 150px;
    height: 150px;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-self: center;
    justify-content: center;
    margin: 0 auto;
}

.poopUp {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);

    width: clamp(250px, 50%, 90%);
    min-height: 150px;
    background-color: #808080a4;
    padding: 5px;    
    
    z-index: 1001;
}